{{ include('partials/__header.html.twig') }}
{% block body %}
<div class="container">
  <h1 class="display-4 bg-light text-center">A propos de nous !</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <img class="w-100" src="{{asset('images/kakemono.png')}}" alt="">
      </div>
      <div class="col-md-6">
        <header>
          <h2 class=" badge badge-danger text-center">Sen Physio Group</h2>
        </header>
        <div class="">
          <p class="lead">
            <strong>Sen Physio Group</strong> est une société spécialisée dans toute la chaîne de la réadaptation fonctionnelle ; de la formation aux soins en passant par l’équipement des structures de rééducation fonctionnelle et la vente de consommables.
            Elle propose des solutions adaptés a travers ses trois services :
            <p><span class="badge lead badge-primary">Dakar Physio Tools</span> pour la distribution de matériel et consommable en kinésithérapie et appareillage orthopédique.</p>
            <p><span class="badge lead badge-primary">Physio Sport Dakar</span> pour les soins en kinésithérapie et réathlétisation en passant par le suivi des sportifs professionnels et amateurs.</p>
            <p><span class="badge lead badge-primary">Institut de Physiothérapie de Dakar </span> pour la formation initiale et continue en physiothérapie.</p>

          </p>

        </div>
        <footer>
        </footer>
      </div>

    </div>

  </div>


</div>

{% endblock %}

{{ include('partials/__footer.html.twig') }}
