{{ include('partials/__header.html.twig') }}
{% block body %}
<div class="bg-light border-bottom mb-4">
  <h1 class="display-4 text-center">Contactez-nous</h1>
</div>


<div class="container">

  <div class="" data-aos="fade-in" data-aos-duration="3000" >
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7715.786820288257!2d-17.4159158!3d14.7750334!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xec10c5f8ef21227%3A0xd30bb26f6b39c28d!2sMALIBU%20BEACH!5e0!3m2!1sen!2ssn!4v1594130024361!5m2!1sen!2ssn" class="w-100 col-xs-12"  frameborder="0" style="border:0;" height="450" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div>
  <hr class="m-4">
  <div class="row">
    <!-- formulaire -->
    <div class="col-md-5" data-aos="fade-right" data-aos-duration="3000">
      <h4 class="bagde badge-danger text-center rounded">Contact</h4>
      <p class="lead " id="message_contact">Vous avez la possibilité de nous contacter par différents moyens: <span class="text-danger">whatsapp, appel téléphonique </span> ou<span class="text-danger"> Email</span> .
      </p>
      <div class="" >
        <h3 class="text-center lead text-font-uppercase">Contact info</h3>

        <ul class="list-group list-group-flush">
          <div class="">
            <li class="list-group-item" ><a href="{{path('contact')}}">contact@senphysiogroup.com</a> </li>
            <li class="list-group-item" >+221 33 877 00 29</li>
          </div>
          <li class="list-group-item"><a href="https://web.whatsapp.com/send?phone=221783497878&amp;text=Bonjour, je voudrais prendre un rendez-vous:"><img height="90" width="100" src="{{asset('images/whatsapp.png')}}" alt=""> </a></li>
          <li class="list-group-item"></li>
          <!-- href="https://web.whatsapp.com/send?phone=221775083271&amp;text=Bonjour, je voulais vous poser la question suivante:" -->



        </ul>

      </div>

    </div>
    <!-- fin du formulaire -->
    <!-- info -->
    <div class="col-md-5" data-aos="fade-left" data-aos-duration="3000">
      <form>
        <div class="form-group">
          <input type="text" class="form-control" id="exampleInputEmail1" a placeholder="Votre nom (optionnel)">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id=""  placeholder="Votre addresse Email (obligatoire)">
        </div>
        <div class="form-group">
          <textarea class="form-control" id="" placeholder="Votre message (obligatoire)" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-danger btn-block mb-1">Envoyer</button>
      </form>
    </div>
    <!-- fin de l'info -->
  </div>
</div>


{% endblock %}

{{ include('partials/__footer.html.twig') }}
{% block javascripts %}

{% endblock %}
