{% extends 'base.html.twig' %}
{% block title %}Adresse - Sen physio group{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<link href="https://fonts.googleapis.com/css2?family=Philosopher:ital@1&family=Roboto:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Philosopher:ital@1&family=Roboto:wght@500&family=Vidaloka&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{asset('css/home.css')}}">
{% endblock %}
{% block body %}
{{ include('partials/__header.html.twig') }}
<div class="container" style="margin-top:79px">
  <h2 class=" bg-danger text-white p-4 text-center">Où nous trouver?</h2>
  <p class="font-weight-bold lead text-center"> <i class='fas fa-map-marker-alt'></i> Villa 5 Golf Sud en face de l'échangeur de Malibu.</p>

  <div class="" >
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7715.786820288257!2d-17.4159158!3d14.7750334!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xec10c5f8ef21227%3A0xd30bb26f6b39c28d!2sMALIBU%20BEACH!5e0!3m2!1sen!2ssn!4v1594130024361!5m2!1sen!2ssn" class="w-100 col-xs-12"  frameborder="0" style="border:0;" height="450" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div>
</div>



{{ include('partials/__footer.html.twig') }}
{% endblock %}
