{{ include('partials/__headerPhysioSport.html.twig') }}
<div class="container border-bottom m-4 p-4 " style="margin-top:70px">
  <h1 class="text-primary text-center">Prise de rendez-vous</h1>
  <p class="text-center lead">Vous pouvez prendre rendez-vous soit par <span class="text-danger">whatsapp</span>  soit par <span class="text-danger">Email</span>.Il suffit juste de cliquer sur l'une des icones en-dessous.</p>
</div>
<!-- choix -->
<div class="container">
  <div class="row">
    <div class="col-xs-6 col-md-5">
    <a href="https://web.whatsapp.com/send?phone=221783497878&amp;text=Bonjour, je voudrais des rensignements:"><img height="72" width="80" src="{{asset('images/whatsapp.png')}}" alt=""></a>
    </div>
    <div class="col-xs-6 col-md-5">
      <img height="72" width="80" src="{{asset('images/message.png')}}" id="message" alt="">
    </div>
  </div>

</div>
<!-- fin de choix -->
<!-- par email -->
<div class="container">
  <div class="m-4 bg-secondary rounded p-4" id="messageForm">
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <input type="email" class="form-control" id="inputEmail4" placeholder="Votre nom complet">
        </div>
        <div class="form-group col-md-6">
          <input type="email" class="form-control" id="inputPassword4" placeholder="Adresse email">
        </div>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="inputAddress" placeholder="Numero de telephone">
      </div>
      <div class="form-group">
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Services</option>
          <option>Soins confort</option>
          <option>Reathletisation</option>
          <option>consultation</option>
        </select>
      </div>
      <div class="input-group">
        <div class="custom-file mb-2">
          <input type="file" class="custom-file-input" id="inputGroupFile04">
          <label class="custom-file-label" for="inputGroupFile04">Choisir votre bulletin</label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-block">Valider</button>
    </form>
  </div>
</div>
<!-- fin -->

{{ include('partials/__footer.html.twig') }}
{% endblock %}
{% block javascripts %}
<script type="text/javascript">
$(document).ready(function(){
  $('#messageForm').hide();
  $('#message').on('click',function () {
    $('#messageForm').fadeIn('5000');
  });
});
</script>

{% endblock %}
